In [1]:
import numpy as np
import pandas as pd

# Numerical Variables: Frequency Distribution Table
**Background:** You are given a dataset.

In [2]:
dataset = np.array([8, 30, 30, 54, 86, 94, 102, 110, 169, 170, 176, 236, 240, 241, 242, 255, 262, 276, 279, 282])

**Task 1:** Given that we want to divide the numbers into 6 intervals of equal width, calculate that interval width. Round up to the nearest whole number, bigger than the result that you obtain.

In [3]:
no_intervals = 6
interval_width = (dataset.max() - dataset.min()) / no_intervals
iw_rounded = int(interval_width.round())
iw_rounded

46

**Task 2:** Create a frequency distribution table that shows;
1. The intervals
2. The absolute frequency of each interval
3. The relative frequency of each interval

In [4]:
table = pd.DataFrame(columns=['Range', 'Absolute Freq.', 'Relative Freq.'])
table.fillna(0)

for i in range(dataset.min(), dataset.max(), iw_rounded):
    if i == dataset.min():
        abs_freq = ((i <= dataset) & (dataset <= i + iw_rounded)).sum()
    else:
        abs_freq = ((i < dataset) & (dataset <= i + iw_rounded)).sum()
        
    table = table.append({'Range': '{} - {}'.format(i, i + iw_rounded),
                          'Absolute Freq.': abs_freq,
                          'Relative Freq.': abs_freq / dataset.size}, ignore_index=True)
table

       Range Absolute Freq.  Relative Freq.
0     8 - 54              4            0.20
1   54 - 100              2            0.10
2  100 - 146              2            0.10
3  146 - 192              3            0.15
4  192 - 238              1            0.05
5  238 - 284              8            0.40

**Task 3:** Repeat task 1 and 2, but this time, use the exact interval width. Don't round up to the nearest whole number, that is.

In [5]:
# Clears down the Pandas Dataframe efficiently
table = table.iloc[0:0]

# Since this exercise needs floating point ranges, we need to use the arange function instead
for i in np.arange(dataset.min(), dataset.max(), interval_width):
    if i == dataset.min():
        abs_freq = ((i <= dataset) & (dataset <= i + interval_width)).sum()
    else:
        abs_freq = ((i < dataset) & (dataset <= i + interval_width)).sum()
        
    table = table.append({'Range': '{:.2f} - {:.2f}'.format(i, i + interval_width),
                          'Absolute Freq.': abs_freq,
                          'Relative Freq.': abs_freq / dataset.size}, ignore_index=True)
table

             Range Absolute Freq.  Relative Freq.
0     8.00 - 53.67              3            0.15
1    53.67 - 99.33              3            0.15
2   99.33 - 145.00              2            0.10
3  145.00 - 190.67              3            0.15
4  190.67 - 236.33              1            0.05
5  236.33 - 282.00              8            0.40